/* src/PaintCanvas.css */
.container {
  position: relative;
  margin: 0 auto;
}

.canvas {
  border: 1px solid #000;
}

.controls {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.controls label {
  display: flex;
  align-items: center;
}

.controls input[type="color"] {
  margin-left: 10px;
}

.controls input[type="number"] {
  margin-left: 10px;
  width: 60px;
}
