/* src/PaintCanvas.css */
.container {
  position: relative;
  margin: 0 auto;
}

.canvas {
  border: 1px solid #000;
}

.controls {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.settings {
  display: flex;
  gap: 10px;
}

.controls label {
  display: flex;
  align-items: center;
}

.controls input[type="color"] {
  margin-left: 10px;
}

.controls input[type="color"]:disabled {
  cursor: not-allowed;
}

.controls input[type="number"] {
  margin-left: 10px;
  width: 60px;
}


.buttonControl {
  padding: 5px;
}

.activate {
  background-color: #b1dfd9;
}